#middle{
	background-color: #ddd7d7;
	text-align: center;
	float: left;
	width: 100%;
}
#middle_text{
	width: 950px; 
	margin: 0 auto;
}
#mb{
	text-align: left;
	font-size: 15px;
	color: #878080;
}
#mb a{
	color: #878080;
}
#mb a:hover{
	color: black;
}

#lj{
	height: 22.4px;
	margin-top: 20px; 
}
#lj a{
	float: left;
	color: black;
}
#lj a:hover{
	color: #484141;
}
#ym{
	text-align: center;
	height: 25px;
	float: left;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 650px;
}
#ym1{
	float: left;
	margin: 5px;
}
#ym1 a{
	color: black;
}
#ym1 a:hover{
	text-decoration:underline;
}

#tl{
	width: 950px;
	height: 22.4px;
	margin:0 auto;
	margin-top: 50px;
}
#tl_1{
	float: left;
	width: 500px;
	margin-bottom: 5px;
}
#tl_2{
	float: left;
}
#tl_3{
	padding-top: 150px;
	margin-left: 670px;
}