*{
	font-size: 12px;
	font-family: Arial;
	line-height: 2em;
	text-decoration: none;


}
a{
	color: #727272 ;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.shoubu a{font-size: 14px;
	color: white;
	font-weight: bold;
}
.shoubu a:hover{
	color: #b9f605;
	text-decoration: underline;
}
#chaxun{
	color: #fdb306;
}