#content{
	width: 1000px;
	margin: auto;
	clear: left;
	clear: right;
}
#content_top{
	overflow: hidden;
	margin-top: 10px;
}
#content_bottom_left{
	width: 715px;
	float: left;
}
#content_bottom_right{
	width: 280px;
	margin-top: 20px;
	float: right;
}




#news_pic{
	width: 324px;
	height: 243px;
	margin-top: 10px;
	float: left;
}
#jpg{
	width: 300px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
}
#zi{
	width: 300px;
	height: 22px;
	text-align: center;
	margin-left: 10px;
	margin-top: 8px;
}





#news_list{
	width: 360px;
	margin-left: 18px;
	float: left;
}
#news_list li{
	line-height: 30px;
}





#news_announce{
	width: 277px;
	height: 250px;
	margin-top: 20px;
	float: right;
}
#news_announce li{
	line-height: 30px;
}



#academic{
	width: 340px;
	float: left;
}
#book_news{
	width: 340px;
	margin-left: 18px;
	float: left;
}
#fengcai{
	width: 700px;
	clear: left;
	clear: right;
	float: left;
	background-repeat: no-repeat;
}
#fengcai2{
	float: left;
	width: 645px;
	height: 136px;
	padding: 20px;
	background-repeat: no-repeat;
}
#academic{line-height: 30px;}
#book_news{line-height: 30px;}



#show1{
	height: 23px;
	width: 280px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}
#show2{
	height: 362px;
	width: 280px;
	float: left;
	margin-top: 32px;
}

